@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    background-color: #edf7fd;
    color: #0f172a;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }
  .dark body {
    background-color: #07192d;
    color: #f1f5f9;
  }
}
